@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.time-line-container > div:last-child .education__time > .education__line {
   display: none;
}

.text__gradient {
   background-color: #fad961;
   background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Poppins", sans-serif;
}

/* rotating text */
:root {
   --rotationDuration: 20s;
   --hoverDuration: 0.3s;

   --easeIn: cubic-bezier(0.32, 0, 0.67, 0);
   --easeOut: cubic-bezier(0.33, 1, 0.68, 1);

   --primaryColor: #fad961;
   --textColor: #2b3338;
   --bgColor: #a6b8b1;
   --accentColor: #e8d6c1;
}

.link {
   position: absolute;
   right: 10rem;
   top: 2rem;
   width: 10rem;
   height: 10rem;
   display: inline-block;
   /* font: 300 1.55rem/1.4; */
   font-size: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 0.1175em;
   word-spacing: 0.3em;
   text-decoration: none;
}

@media (max-width: 768px) {
   .link {
      display: none;
   }
}

.link__svg {
   width: 100%;
   height: auto;
   transform-box: fill-box;
   fill: var(--textColor);
   stroke: var(--textColor);
   stroke-width: 0.05em;
   stroke-linecap: round;
   stroke-linejoin: round;
}

.link__cloud {
   transform-origin: 50% 50%;
   animation: rotate normal infinite calc(3 * var(--rotationDuration)) linear;
   fill: rgba(255, 255, 255, 0.15);
}

.link__face,
.link__arrow {
   transform-origin: 50% 50%;
   transition: transform calc(var(--hoverDuration) / 2) var(--easeIn);
}

.link:hover .link__face,
.link:hover .link__arrow {
   transform: scale(1.1);
   transition: transform var(--hoverDuration) var(--easeOut);
}

.link__arrow {
   stroke-width: 0.075em;
}

.link__text {
   animation: rotateReverse normal infinite var(--rotationDuration) linear;
   transform-origin: 50% 50%;
}

.link:hover .link__text {
   animation-play-state: paused;
}

.link--alt {
   font-size: 1.15rem;
   letter-spacing: 0;
   word-spacing: 0;
}

@keyframes rotate {
   to {
      transform: rotate(360deg);
   }
}

@keyframes rotateReverse {
   to {
      transform: rotate(-360deg);
   }
}

/* my style */
.bg__glass {
   /* From https://css.glass */
   background: rgba(255, 255, 255, 0.17);
   border-radius: 4px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(9.3px);
   -webkit-backdrop-filter: blur(9.3px);
   border: 1px solid rgba(255, 255, 255, 0.29);
}

/* custom connect button */
.connect__btn {
   font-size: 16px;
   font-weight: 500;

   background: linear-gradient(265.27deg, #0000 20.55%, #fad961 94.17%);
   background-color: #fad961;
   transition: all 400ms ease-in;

   color: black;
   padding: 0.7em 1em;
   padding-left: 0.9em;
   display: flex;
   align-items: center;
   border: none;
   border-radius: 8px;
   overflow: hidden;
   /* transition: all 0.5s; */
   cursor: pointer;
}

.connect__btn span {
   display: block;
   margin-left: 0.3em;
   transition: all 0.3s ease-in-out;
}

.connect__btn svg {
   display: block;
   transform-origin: center center;
   transition: transform 0.3s ease-in-out;
}

.connect__btn:hover .svg-wrapper {
   animation: fly-1 0.6s ease-in-out infinite alternate;
}

.connect__btn:hover svg {
   transform: translateX(3.5em) rotate(45deg) scale(1.1);
}

.connect__btn:hover {
   background-color: #f76b1c;
}

.connect__btn:hover span {
   transform: translateX(10em);
}

.connect__btn:active {
   transform: scale(0.95);
}

@keyframes fly-1 {
   from {
      transform: translateY(0.1em);
   }

   to {
      transform: translateY(-0.1em);
   }
}

/* 3d card style */

/* From Uiverse.io by Smit-Prajapati */
.parent {
   width: 100%;
   padding: 20px;
   perspective: 1000px;
   color: black;
}

.card {
   padding-top: 50px;
   /* border-radius: 10px; */
   border: 3px solid rgb(255, 255, 255);
   transform-style: preserve-3d;
   background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
      repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #ffffff 0 18.75%);
   background-size: 60px 60px;
   background-position: 0 0, 0 0;
   background-color: #f0f0f0;
   width: 100%;
   box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
   transition: all 0.5s ease-in-out;
}

.card:hover {
   background-position: -100px 100px, -100px 100px;
   transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
   background: rgb(255, 255, 255);
   /* border-radius: 10px 100px 10px 10px; */
   transition: all 0.5s ease-in-out;
   padding: 30px 25px 25px 25px;
   /* transform-style: preserve-3d; */
}
@media (max-width: 768px) {
   .card:hover {
      transform: none;
   }
}

.content-box .card-title {
   display: inline-block;
   font-size: 25px;
   font-weight: 900;
   transition: all 0.5s ease-in-out;
   /* transform: translate3d(0px, 0px, 50px); */
}

.content-box .card-title:hover {
   /* transform: translate3d(0px, 0px, 60px); */
}

.content-box .card-content {
   margin-top: 10px;
   font-size: 12px;
   font-weight: 700;
   transition: all 0.5s ease-in-out;
   /* transform: translate3d(0px, 0px, 30px); */
}

.content-box .card-content:hover {
   /* transform: translate3d(0px, 0px, 60px); */
}

.content-box .see-more {
   cursor: pointer;
   margin-top: 1rem;
   display: inline-block;
   font-weight: 900;
   font-size: 14px;
   text-transform: uppercase;
   color: black;
   border-radius: 6px;
   background: #fad961;
   padding: 0.5rem 0.9rem;
   transition: all 0.5s ease-in-out;
   /* transform: translate3d(0px, 0px, 20px); */
}

.content-box .see-more:hover {
   background-color: #f76b1c;
}
