---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
   <button id="download-btn" class="connect__btn font-Poppins mt-8"> Download CV </button>
</BaseLayout>

<script>
   const downloadBtn = document.querySelector('#download-btn');
   downloadBtn?.addEventListener('click', () => {
      fetch('cv-ats-danar.pdf')
         .then((response) => {
            if (!response.ok) {
               throw new Error('Network response was not ok');
            }
            return response.blob();
         })
         .then((blob) => {
            const fileURL = window.URL.createObjectURL(blob);
            const alink = document.createElement('a');
            alink.href = fileURL;
            alink.download = 'cv-ats-danar.pdf';
            alink.click();
            window.URL.revokeObjectURL(fileURL);
         })
         .catch((error) => {
            console.error('Error downloading resume:', error);
         });
   });
</script>
