---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
   <div class="pb-2">
      &copy;copyright {today.getFullYear()}
   </div>
   <div class="inline opacity-75">
      Developed by <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">Morning Programmer</a>
   </div>
</footer>
<style></style>
